# Development

## Config
**/.config/*.config.*

!**/*.config.js
!**/*.config.*js

## Environment
**/.env.*
**/*.env
**/*.env.*

!**/.env.default
!**/default.env

## IDE

### Atom
**/.atom

### JetBrains
**/.idea

**/*.iml
**/*.ipr
**/*.iws

### Visual Studio Code
**/.vscode

## Hosting

### Vercel
**/.vercel

# Languages

## Node.js
**/.DS_STORE
**/build
**/node_modules

**/*.tsbuildinfo

### Dependencies
**/.pnp
**/.pnp.*

**/.yarn/install-state.gz

### Frameworks

#### Next.js
**/.next
**/out

**/next-env.d.ts

# Misc

## Files
**/*.db

**/*.lock
**/*-lock.json

**/*.log
**/*.log.*

**/*.pem

**/*.gz

**/*.sqlite

**/*.zip

## Testing
**/coverage